extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--documenti
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a(href="") О компании 
                    span
                    a.active Учередительные документы
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title Учередительные <br> документы

    section.two-blocks.two-blocks--mode
        ._container
            .two-blocks__wrapper
                .two-blocks__col
                    .two-blocks__content
                        span.two-blocks__descr Место для вводного текста. Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект прекрасно подходит для реализации переосмысления внешнеэкономических политик
                .two-blocks__col
                    ul
                        li.two-blocks__link-download
                            span Устав ООО ОАО ПАО НКО «ТЭК-ТЭЦ-ТЫЦ компания»
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Постановление № 423 от 27.10.2016г. «Об утверждении нормативов потребления холодной воды”
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Устав ООО ОАО ПАО НКО «ТЭК-ТЭЦ-ТЫЦ компания»
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Устав ООО ОАО ПАО НКО «ТЭК-ТЭЦ-ТЫЦ компания»
                            a(href="") Скачать
