doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="css/main.css")
    body
        .wrapper
            header.header.header--index
                .header__top.header__top--index
                    ._container
                        a.header__link.header__link--location г. Тамбов, ул. Московское шоссе, 182
                        a.header__link.header__link--phone(href="tel:+74752555568") +7 4752 55-55-68
                .header__bottom.header__bottom--index
                    ._container
                        a(href="index.html")
                            img.header__logo(src="images/vector/header-logo-index.svg" alt="")
                        .top_menu
                            ul.main-nav.main-nav--index
                                li.item
                                    a
                                        span О компании
                                        img(src="images/vector/drop-white.svg" alt="")
                                    .main-nav__submenu-wrapper
                                        .main-nav__submenu
                                            a(href="") Подменю 1
                                            a(href="") Подменю 2
                                            a(href="") Подменю 3
                                li.item
                                    a
                                        span Потребителям
                                        img(src="images/vector/drop-white.svg" alt="")
                                    .main-nav__submenu-wrapper
                                        .main-nav__submenu
                                            a(href="") Подменю 1
                                            a(href="") Подменю 2
                                            a(href="") Подменю 3
                                li.item
                                    a(href='')
                                        span Раскрытие информации
                                li.item
                                    a(href='news.html')
                                        span Новости
                                li.item
                                    a(href='')
                                        span Объявления
                                li.item
                                    a(href='contacts.html')
                                        span Контакты
                                li.dd_menu
                                    button.dropdown-toggle(type='button') Ещё
                                        img(src="images/vector/drop-white.svg" alt="")
                                    .main-nav__submenu-wrapper
                                        ul.main-nav__submenu
                        a.header__lk.header__lk--index(href="") Личный кабинет
                        .header__burger.header__burger--white#burger
                            //- img(src="../images/vector/burger.svg" alt="")
                .header__mobile.header-mobile._container
                    .header-mobile__menu
                        a О компании
                            img(src="images/vector/drop.svg" alt="")
                        .header-mobile__submenu
                            a(href="") Подпункт 1
                            a(href="") Подпункт 2
                            a(href="") Подпункт 3
                        a Потребителям
                            img(src="images/vector/drop.svg" alt="")
                        .header-mobile__submenu
                            a(href="") Подменю 1
                            a(href="") Подменю 2
                            a(href="") Подменю 3
                        a(href="") Раскрытие информации
                        a(href="news.html") Новости
                        a(href="") Объявления
                        a(href="contacts.html") Контакты
                    a.header-mobile__link(href="tel:+74752555568").header-mobile__link--phone +7 4752 55-55-68
                    a.header-mobile__link.header-mobile__link--location г. Тамбов, ул. Московское шоссе, 182
            .page.page--index
                section.hero
                    ._container
                        .swiper.hero__swiper
                            .swiper-wrapper
                                .swiper-slide
                                    h2.hero__title Работа у нас
                                    span.hero__subtitle Главная ценность любой компании — это люди, которые в ней работают. Присоединяйся к нашей команде!
                                    a.button-default(href="")
                                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                                        span Подробнее
                                .swiper-slide
                                    h2.hero__title Работа у нас
                                    span.hero__subtitle Главная ценность любой компании — это люди, которые в ней работают. Присоединяйся к нашей команде!
                                    a.button-default(href="")
                                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                                        span Подробнее
                                .swiper-slide
                                    h2.hero__title Работа у нас
                                    span.hero__subtitle Главная ценность любой компании — это люди, которые в ней работают. Присоединяйся к нашей команде!
                                    a.button-default(href="")
                                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                                        span Подробнее
                            .swiper-nav
                                .swiper-button-prev
                                .swiper-button-next

                section.two-blocks
                    ._container
                        .two-blocks__wrapper.two-blocks__wrapper--index
                            .two-blocks__col
                                h2.title-inner Потребителям
                                span.two-blocks__subtitle ООО «Тамбовская теплоэнергетическая кампания» предоставляет качественные и своевременные услуги по поставке тепла и света и стремится сделать их максимально удобными для потребителя
                            .two-blocks__col
                                ul
                                    li.two-blocks__link
                                        a(href="") Тарифы
                                    li.two-blocks__link
                                        a(href="") Проекты договоров
                                    li.two-blocks__link
                                        a(href="") Вакансии


                section.join
                    ._container
                        .join__wrapper
                            h2.title-inner.title-inner--white Технологическое присоединение
                            span.title-inner__subtitle.title-inner__subtitle--white Место на небольшой текст под заголовком
                            button.button-default
                                <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                                span Подать заявку

                section.news-company
                    ._container
                        h2.title-inner Новости компании
                        .news-company__wrapper
                            .news-company__main-news
                                span.news-company__title Лучшие студенты НГТУ и ННГАСУ получили именные стипендии
                                span.news-company__descr В рамках спецификации современных стандартов, элементы политического процесса могут
                                .news-company__bottom
                                    button.button-default
                                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                                        span Подробнее
                                    span.news-company__date 22.02.2022
                            .news-company__content
                                .news-company-swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            .news-company-swiper__pic
                                                img(src="images/rectangle-19.jpg" alt="")
                                            .news-company-swiper__data 22 января 2022
                                            .news-company-swiper__title Сейчас всё чаще звучит старческий скрип Амстердама
                                            .news-company-swiper__descr Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект прекрасно подходит для реализации переосмысления внешнеэкономических политик
                                        .swiper-slide
                                            .news-company-swiper__pic
                                                img(src="images/rectangle-191.jpg" alt="")
                                            .news-company-swiper__data 22 января 2022
                                            .news-company-swiper__title Сейчас всё чаще звучит старческий скрип Амстердама
                                            .news-company-swiper__descr Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект прекрасно подходит для реализации переосмысления внешнеэкономических политик
                                        .swiper-slide
                                            .news-company-swiper__pic
                                                img(src="images/rectangle-192.jpg" alt="")
                                            .news-company-swiper__data 22 января 2022
                                            .news-company-swiper__title Сейчас всё чаще звучит старческий скрип Амстердама
                                            .news-company-swiper__descr Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект прекрасно подходит для реализации переосмысления внешнеэкономических политик
                                        .swiper-slide
                                            .news-company-swiper__pic
                                                img(src="images/rectangle-192.jpg" alt="")
                                            .news-company-swiper__data 22 января 2022
                                            .news-company-swiper__title Сейчас всё чаще звучит старческий скрип Амстердама
                                            .news-company-swiper__descr Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект прекрасно подходит для реализации переосмысления внешнеэкономических политик
                                a.button-default.button-default--mode
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                                    span Все новости

            include modules/footer
        include modules/scripts
