extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--documenti
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a(href="") О компании 
                    span
                    a.active Раскрытие информации
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title Раскрытие <br> информации

    section.two-blocks.two-blocks--mode
        ._container
            .two-blocks__head
                .two-blocks__col
                    span.two-blocks__text Раскрытие информации о компании осуществляется согласно Стандарту раскрытия информации субъектами оптового и розничного рынков электрической энергии, утверждено Постановлением Правительства РФ от 21.01.2004 № 24, в редакции от 26.07.2013
                .two-blocks__col.two-blocks__col--information
                    img(src="images/vector/download-back.svg", alt="")
            .two-blocks__wrapper
                .two-blocks__col
                    .two-blocks__content
                        span.two-blocks__date 2022
                .two-blocks__col
                    ul
                        li.two-blocks__link-download
                            span Информация о выводе объектов теплоснабжения из эксплуатации и основаниях ограничения, прекращения подачи тепловой энергии потребителям 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация о наличии (отсутствии) технической возможности подключения к системе теплоснабжения, а также о регистрации и ходе реализации заявок о подключении к системе теплоснабжения 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация о наличии (отсутствии) технической возможности подключения к централизованной системе горячего водоснабжения, а также о регистрации и ходе реализации заявок о подключении к централизованной системе горячего водоснабжения 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация об условиях, на которых осуществляется поставка товаров (оказание услуг)
                            a(href="") Скачать
            .two-blocks__wrapper
                .two-blocks__col
                    .two-blocks__content
                        span.two-blocks__date 2021
                .two-blocks__col
                    ul
                        li.two-blocks__link-download
                            span Информация о выводе объектов теплоснабжения из эксплуатации и основаниях ограничения, прекращения подачи тепловой энергии потребителям 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация о наличии (отсутствии) технической возможности подключения к системе теплоснабжения, а также о регистрации и ходе реализации заявок о подключении к системе теплоснабжения 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация о наличии (отсутствии) технической возможности подключения к централизованной системе горячего водоснабжения, а также о регистрации и ходе реализации заявок о подключении к централизованной системе горячего водоснабжения 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация об условиях, на которых осуществляется поставка товаров (оказание услуг)
                            a(href="") Скачать
