extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--job
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a(href="") О компании 
                    span
                    a.active Вакансии
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title Вакансии

    section.vacancy
        ._container
            .job__wrapper
                h2.job__title.tab
                    span Категория Вакансии
                    span.job__count (99)
                    img(src="images/vector/down.svg", alt="")
                .job__content.tab-content
                    a(href="").job__cart.job-cart
                        span.job-cart__title Название вакансии
                        span.job-cart__price 10 000–200 000 ₽
                        span.job-cart__content Открывается вкакнсия на HH.RU политического процесса будут в равной степени предоставлены сами себе. Господа, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов)
                    a(href="").job__cart.job-cart
                        span.job-cart__title Название вакансии
                        span.job-cart__price 10 000–200 000 ₽
                        span.job-cart__content Открывается вкакнсия на HH.RU политического процесса будут в равной степени предоставлены сами себе. Господа, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов)
                h2.job__title.tab
                    span Офисные работники
                    span.job__count (99)
                    img(src="images/vector/down.svg", alt="")
                .job__content.tab-content
                    a(href="").job__cart.job-cart
                        span.job-cart__title Название вакансии
                        span.job-cart__price 10 000–200 000 ₽
                        span.job-cart__content Открывается вкакнсия на HH.RU политического процесса будут в равной степени предоставлены сами себе. Господа, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов)
                    a(href="").job__cart.job-cart
                        span.job-cart__title Название вакансии
                        span.job-cart__price 10 000–200 000 ₽
                        span.job-cart__content Открывается вкакнсия на HH.RU политического процесса будут в равной степени предоставлены сами себе. Господа, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов)
                    a(href="").job__cart.job-cart
                        span.job-cart__title Название вакансии
                        span.job-cart__price 10 000–200 000 ₽
                        span.job-cart__content Открывается вкакнсия на HH.RU политического процесса будут в равной степени предоставлены сами себе. Господа, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов)
                h2.job__title.tab
                    span Рабочие специальности
                    span.job__count (99)
                    img(src="images/vector/down.svg", alt="")
                .job__content.tab-content
                    a(href="").job__cart.job-cart
                        span.job-cart__title Название вакансии
                        span.job-cart__price 10 000–200 000 ₽
                        span.job-cart__content Открывается вкакнсия на HH.RU политического процесса будут в равной степени предоставлены сами себе. Господа, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов)
                    a(href="").job__cart.job-cart
                        span.job-cart__title Название вакансии
                        span.job-cart__price 10 000–200 000 ₽
                        span.job-cart__content Открывается вкакнсия на HH.RU политического процесса будут в равной степени предоставлены сами себе. Господа, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов)
                    a(href="").job__cart.job-cart
                        span.job-cart__title Название вакансии
                        span.job-cart__price 10 000–200 000 ₽
                        span.job-cart__content Открывается вкакнсия на HH.RU политического процесса будут в равной степени предоставлены сами себе. Господа, высокое качество позиционных исследований обеспечивает широкому кругу (специалистов)
