extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--new
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a(href="") О компании 
                    span
                    a.active Вакансии
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title.banner__title--new Лучшие студенты НГТУ и ННГАСУ <br> получили именные стипендии

    section.new
        ._container
            .new__wrapper
                div
                    a.button-default.button-default--back(href="")
                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                        span Назад
                .new__col
                    span.new__title В рамках спецификации современных стандартов, элементы политического процесса могут
                    .new__text
                        p Картельные сговоры не допускают ситуации, при которой действия представителей оппозиции набирают популярность среди определённых слоёв населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений. Учитывая ключевые сценарии поведения, социально-экономическое развитие играет определяющее значение для модели развития.
                        p Принимая во внимание показатели успешности, сложившаяся структура организации влечёт за собой процесс внедрения и модернизации новых принципов формирования материально-технической и кадровой базы. Идейные соображения высшего порядка, а также разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение распределения внутренних резервов и ресурсов.
                        p Безусловно, разбавленное изрядной долей эмпатии, рациональное мышление обеспечивает актуальность глубокомысленных рассуждений. Равным образом, высококачественный прототип будущего проекта создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса анализа существующих паттернов поведения.
                        p С учётом сложившейся международной обстановки, начало повседневной работы по формированию позиции создаёт предпосылки для кластеризации усилий. Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня, в своём классическом представлении, допускает внедрение своевременного выполнения сверхзадачи. Современные технологии достигли такого уровня, что консультация с широким активом говорит о возможностях инновационных методов управления процессами. Противоположная точка зрения подразумевает, что ключевые особенности структуры проекта, вне зависимости от их уровня, должны быть в равной степени предоставлены сами.
                    .new__pic
                        figure
                            img(src="images/money.jpg", alt="")
                            figcaption Подпись для фото
                    .new__text
                        p Картельные сговоры не допускают ситуации, при которой действия представителей оппозиции набирают популярность среди определённых слоёв населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений. Учитывая ключевые сценарии поведения, социально-экономическое развитие играет определяющее значение для модели развития.
                        p Принимая во внимание показатели успешности, сложившаяся структура организации влечёт за собой процесс внедрения и модернизации новых принципов формирования материально-технической и кадровой базы. Идейные соображения высшего порядка, а также разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение распределения внутренних резервов и ресурсов.
                        p Безусловно, разбавленное изрядной долей эмпатии, рациональное мышление обеспечивает актуальность глубокомысленных рассуждений. Равным образом, высококачественный прототип будущего проекта создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса анализа существующих паттернов поведения.
                        p С учётом сложившейся международной обстановки, начало повседневной работы по формированию позиции создаёт предпосылки для кластеризации усилий. Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня, в своём классическом представлении, допускает внедрение своевременного выполнения сверхзадачи. Современные технологии достигли такого уровня, что консультация с широким активом говорит о возможностях инновационных методов управления процессами. Противоположная точка зрения подразумевает, что ключевые особенности структуры проекта, вне зависимости от их уровня, должны быть в равной степени предоставлены сами.


    section.news-more
        ._container
            .news-more__wrapper
                .title-inner Ещё новости
                .news-more__swiper
                    .swiper-wrapper
                        .swiper-slide
                            .mews-more__pic
                                img(src="images/news-cart.jpg", alt="")
                            span.news-more__data 22 января 2022
                            span.news-more__title Средства индивидуальной защиты оказались бесполезны
                            span.news-more__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                        .swiper-slide
                            .mews-more__pic
                                img(src="images/news-cart.jpg", alt="")
                            span.news-more__data 22 января 2022
                            span.news-more__title Средства индивидуальной защиты оказались бесполезны
                            span.news-more__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                        .swiper-slide
                            .mews-more__pic
                                img(src="images/news-cart.jpg", alt="")
                            span.news-more__data 22 января 2022
                            span.news-more__title Средства индивидуальной защиты оказались бесполезны
                            span.news-more__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                        .swiper-slide
                            .mews-more__pic
                                img(src="images/news-cart.jpg", alt="")
                            span.news-more__data 22 января 2022
                            span.news-more__title Средства индивидуальной защиты оказались бесполезны
                            span.news-more__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                        .swiper-slide
                            .mews-more__pic
                                img(src="images/news-cart.jpg", alt="")
                            span.news-more__data 22 января 2022
                            span.news-more__title Средства индивидуальной защиты оказались бесполезны
                            span.news-more__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                        .swiper-slide
                            .mews-more__pic
                                img(src="images/news-cart.jpg", alt="")
                            span.news-more__data 22 января 2022
                            span.news-more__title Средства индивидуальной защиты оказались бесполезны
                            span.news-more__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                        .swiper-slide
                            .mews-more__pic
                                img(src="images/news-cart.jpg", alt="")
                            span.news-more__data 22 января 2022
                            span.news-more__title Средства индивидуальной защиты оказались бесполезны
                            span.news-more__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены

                button.button-default.button-default--mode
                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                    span Показать еще
