extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--news
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a.active Новости
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title Новости

    section.news
        ._container
            .news__wrapper
                .news__carts
                    a(href="").news__cart.news-cart.news-cart--big
                        span.news-cart__title Лучшие студенты НГТУ и ННГАСУ получили именные стипендии
                        span.news-cart__descr В рамках спецификации современных стандартов, элементы политического процесса могут
                        .news-cart__footer
                            button.button-default
                                <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                                span Подробнее
                            span.news-cart__data 22.02.2022
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены
                    a(href="").news__cart.news-cart
                        img.news-cart__pic(src="images/news-cart.jpg", alt="")
                        span.news-cart__data 22 января 2022
                        span.news-cart__title Средства индивидуальной защиты оказались бесполезны
                        span.news-cart__descr Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены

                button.button-default.button-default--mode
                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                    span Показать еще
