extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--o-kompanii
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a.active О компании
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title О компании

    section.two-blocks.two-blocks--mode
        ._container
            .two-blocks__wrapper
                .two-blocks__col
                    h2.title-inner ООО «ТТК»
                    .two-blocks__content
                        span.two-blocks__descr Государственное унитарное предприятие «Топливно-энергетический комплекс Санкт-Петербурга» - одна из ведущих теплоэнергетических компаний Северо-Запада. Доля предприятия на петербургском рынке тепловой энергии составляет около 48%.
                        .two-blocks__subtitle Основные виды деятельности:
                        .two-blocks__descr
                            ul
                                li
                                    span выработка и снабжение тепловой энергией потребителей Санкт-Петербурга;
                                li
                                    span транспортировка тепла, выработанного на источниках, не принадлежащих предприятию;
                                li
                                    span эксплуатация городских инженерных теплосистем.
                            span Предприятие отапливает и снабжает горячей водой порядка 16000 домов Петербурга, в которых живёт около 3 млн горожан. Среди абонентов компании — жилые дома, здания социально-бытового назначения — больницы, школы, детские сады, многочисленные производственные объекты.
                            span Вся собственность предприятия является государственной собственностью Санкт-Петербурга. В компании трудится более 7,5 тысяч человек.

                .two-blocks__col
                    ul
                        li.two-blocks__link
                            a(href="") Вакансии
                        li.two-blocks__link
                            a(href="") Учередительные документы
                        li.two-blocks__link
                            a(href="") Охрана труда
