extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--ohrana
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a(href="") О компании 
                    span
                    a.active Охрана труда
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title Охрана труда

    section.two-blocks.two-blocks--mode
        ._container
            .two-blocks__wrapper
                .two-blocks__col
                    .two-blocks__content
                        span.two-blocks__descr Место для вводного текста. Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект прекрасно подходит для реализации переосмысления внешнеэкономических политик
                .two-blocks__col
                    ul
                        li.two-blocks__link-download
                            span ИНСТРУКЦИЯ для проведения вводного инструктажа по охране труда и пожарной безопасности
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span ИНСТРУКЦИЯ по пожарной безопасности в учреждении
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span ИНСТРУКЦИЯ по охране труда при работе
                            a(href="") Скачать
