extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--projects
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a(href="") О компании 
                    span
                    a.active Проекты договоров
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title Проекты <br> договоров

    section.two-blocks.two-blocks--mode
        ._container
            .two-blocks__wrapper
                .two-blocks__col
                    .two-blocks__content
                        span.two-blocks__descr Место для вводного текста, что они размещаются  согласно Стандарту раскрытия информации субъектами оптового и розничного рынков электрической энергии, утверждено Постановлением Правительства РФ от 21.01.2004 № 24, в редакции от 26.07.2013
                .two-blocks__col
                    ul
                        li.two-blocks__link-download
                            span Типовой договор горячего водоснабжения
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Договор-оферта с физическими лицами
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Договор на поставку горячей воды для ОДН управляющим компаниям
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Типовой договор теплоснабжения
                            a(href="") Скачать
