extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--rates
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a(href="") О компании 
                    span
                    a.active Тарифы
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title Тарифы

    section.two-blocks.two-blocks--mode
        ._container
            .two-blocks__head
                .two-blocks__col.two-blocks__col--rates
                    img(src="images/vector/download-back.svg", alt="")
                .two-blocks__col.two-blocks__col--rates
                    span.two-blocks__title Тарифы на тепловую энергию, отпускаемую «Теплоэнергетической компанией», и нормативы потребления устанавлидаются Департаментом тарифной и ценовой политики Тюменской области
                    span.two-block__list-title Формирование тарифа производится в соответствии со следующими документами:
                    ul.two-blocks__list
                        li Жилищным Кодексом РФ от 29.12.2004 года РФ]88-ФЗ
                        li Федеральным законом от 27.07.2010 года N2190-03 «О теплоснабжении»
                        li Постановлением Продительстда РФ от 22.10.2012 года N21075 «О ценообразовании в сфере теплоснабжения»
                        li Методическими указаниями по расчету регулируемых цен (тарифов) в сфере теплоснабжения, утвержденными приказом Федеральной службы по тарифом от ВЮ6.2ОВ года N2760-3
                        li Постановлением Продительстда РФ от 30.04.2014 года N2400 «О формировании индексов изменения размера платы граждан за коммунальные услуги д РФ»
            .two-blocks__wrapper
                .two-blocks__col
                    .two-blocks__content
                        span.two-blocks__date 2022
                .two-blocks__col
                    ul
                        li.two-blocks__link-download
                            span Информация о выводе объектов теплоснабжения из эксплуатации и основаниях ограничения, прекращения подачи тепловой энергии потребителям 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация о наличии (отсутствии) технической возможности подключения к системе теплоснабжения, а также о регистрации и ходе реализации заявок о подключении к системе теплоснабжения 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация о наличии (отсутствии) технической возможности подключения к централизованной системе горячего водоснабжения, а также о регистрации и ходе реализации заявок о подключении к централизованной системе горячего водоснабжения 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация об условиях, на которых осуществляется поставка товаров (оказание услуг)
                            a(href="") Скачать
            .two-blocks__wrapper
                .two-blocks__col
                    .two-blocks__content
                        span.two-blocks__date 2021
                .two-blocks__col
                    ul
                        li.two-blocks__link-download
                            span Информация о выводе объектов теплоснабжения из эксплуатации и основаниях ограничения, прекращения подачи тепловой энергии потребителям 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация о наличии (отсутствии) технической возможности подключения к системе теплоснабжения, а также о регистрации и ходе реализации заявок о подключении к системе теплоснабжения 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация о наличии (отсутствии) технической возможности подключения к централизованной системе горячего водоснабжения, а также о регистрации и ходе реализации заявок о подключении к централизованной системе горячего водоснабжения 19-21
                            a(href="") Скачать
                        li.two-blocks__link-download
                            span Информация об условиях, на которых осуществляется поставка товаров (оказание услуг)
                            a(href="") Скачать
