extends base
block page
    section.banner
        ._container
            .banner__wrapper.banner__wrapper--job
                .breadcrumbs
                    a(href="index.html") Главная
                    span
                    a(href="") О компании 
                    span
                    a.active Вакансии
                .breadcrumbs__mobile
                    a(href="") Назад
                h2.banner__title Вакансии

    section.vacancy
        ._container
            .vacancy__wrapper
                div
                    a.button-default.button-default--back(href="")
                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                        span Назад
                .vacancy__col
                    span.vacancy__title Название вакансии
                    span.vacancy__price 10 000–200 000 ₽
                    .vacancy__descr
                        p Красткое описание: сговоры не допускают ситуации, при которой действия представителей оппозиции набирают популярность среди определённых слоёв населения, а значит, должны быть заблокированы в рамках своих собственных рациональных ограничений. Учитывая ключевые сценарии поведения, социально-экономическое развитие играет определяющее значение для модели развития.
                        ul
                            li С учётом сложившейся международной обстановки, начало повседневной работы по формированию позиции создаёт предпосылки для кластеризации усилий.
                            li Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня, в своём классическом представлении, допускает внедрение своевременного выполнения сверхзадачи.
                            li Современные технологии достигли такого уровня, что консультация с широким активом говорит о возможностях инновационных методов управления процессами.
                            li Противоположная точка зрения подразумевает, что ключевые особенности структуры проекта, вне зависимости от их уровня, должны быть в равной степени предоставлены сами.
    section.feedback
        ._container
            h2.feedback__title Откликнуться на вакансию
            .feedback__wrapper.new__wrapper
                div
                .feedback__content.new__col
                    input(type="text" placeholder="Имя")
                    input(type="text" placeholder="Номер телефона")
                    textarea(placeholder="Введите сообщение")
                    button.feedback__clip Прикрепить резюме
                    button(type="submit").button-default.button-default--mode
                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_245_8681)"><rect x="0.5" width="30" height="30" rx="15" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.9749 7.31819L24.1689 14.2318C24.6104 14.6561 24.6104 15.3439 24.1689 15.7682L16.9749 22.6818C16.5334 23.1061 15.8176 23.1061 15.3762 22.6818C14.9347 22.2576 14.9347 21.5697 15.3762 21.1454L20.6405 16.0864L-0.369566 16.0864C-0.993888 16.0864 -1.5 15.6 -1.5 15C-1.5 14.4 -0.993888 13.9136 -0.369566 13.9136L20.6405 13.9136L15.3762 8.85455C14.9347 8.4303 14.9347 7.74245 15.3762 7.31819C15.8176 6.89394 16.5334 6.89394 16.9749 7.31819Z" fill="#E67523"/></g><defs><clipPath id="clip0_245_8681"><rect x="0.5" width="30" height="30" rx="15" fill="white"/></clipPath></defs></svg>
                        span Отправить
