footer.footer
    ._container
        a.footer__logo(href="index.html")
            img(src="images/vector/footer-logo.svg", alt="")
        .footer__row
            .footer__col
                a(href="documenti.html") Учередительные документы
                a(href="ohrana.html") Охрана труда
                a(href="rates.html") Тарифы
                a(href="tehno.html") Техническое присоединение
                a(href="projects.html") Проекты договоров
            .footer__col
                a(href="o-kompanii.html") О компании
                a(href="information.html") Раскрытие информации
                a(href="news.html") Новости
                a(href="contacts.html") Контакты
            .footer__contacts
                a.footer__location г. Тамбов, ул. Московское шоссе, 182
                a.footer__mail(href="mail:mail@example.ru") mail@example.ru
                a.footer__phone(href="tel:+74752555568") +7 4752 55-55-68
        .footer__bottom
            a(href="") Политика конфиденциальности
            a(href="https://kvokka.com/") kvokka 2022
