header.header
    .header__top
        ._container
            a.header__link.header__link--location г. Тамбов, ул. Московское шоссе, 182
            a.header__link.header__link--phone(href="tel:+74752555568") +7 4752 55-55-68
    .header__bottom
        ._container
            a(href="index.html")
                img.header__logo(src="images/vector/header-logo.svg" alt="")
            .top_menu
                ul.main-nav
                    li.item
                        a
                            span О компании
                            img(src="images/vector/drop.svg" alt="")
                        .main-nav__submenu-wrapper
                            .main-nav__submenu
                                a(href="") Подменю 1
                                a(href="") Подменю 2
                                a(href="") Подменю 3
                    li.item
                        a
                            span Потребителям
                            img(src="images/vector/drop.svg" alt="")
                        .main-nav__submenu-wrapper
                            .main-nav__submenu
                                a(href="") Подменю 1
                                a(href="") Подменю 2
                                a(href="") Подменю 3
                    li.item
                        a(href='')
                            span Раскрытие информации
                    li.item
                        a(href='news.html')
                            span Новости
                    li.item
                        a(href='')
                            span Объявления
                    li.item
                        a(href='contacts.html')
                            span Контакты
                    li.dd_menu
                        button.dropdown-toggle(type='button') Ещё
                            img(src="images/vector/drop.svg" alt="")
                        .main-nav__submenu-wrapper
                            ul.main-nav__submenu
            a.header__lk(href="") Личный кабинет
            .header__burger#burger
    .header__mobile.header-mobile._container
        .header-mobile__menu
            a О компании
                img(src="images/vector/drop.svg" alt="")
            .header-mobile__submenu
                a(href="") Подпункт 1
                a(href="") Подпункт 2
                a(href="") Подпункт 3
            .header-mobile__submenu
                a(href="") Подпункт 1
                a(href="") Подпункт 2
                a(href="") Подпункт 3
            a Потребителям
                img(src="images/vector/drop.svg" alt="")
            .header-mobile__submenu
                a(href="") Подменю 1
                a(href="") Подменю 2
                a(href="") Подменю 3
            a(href="") Раскрытие информации
            a(href="news.html") Новости
            a(href="") Объявления
            a(href="contacts.html") Контакты
        .header-mobile__footer
            a.header-mobile__link(href="tel:+74752555568").header-mobile__link--phone +7 4752 55-55-68
            a.header-mobile__link.header-mobile__link--location г. Тамбов, ул. Московское шоссе, 182
